body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid black;
}

.group {
    display: flex;
    flex-direction: row;
    border: 1px solid #aeaeae;
}

.standard {
     border: 1px solid #aeaeae; 
}


.promptButton {
    display: block;
    margin: 30px auto;
    padding: 10px 15px;
    color: white;
    background-color: #353536;
    border: none;
    border-radius: 16px;
    font-size: 20px;
    box-shadow: 0px 7px 5px #626262;
    transition: all 0.2s ease-in-out;
}

.promptButton:hover {
    background-color: black;
}

.promptButton:active {
    transform: translateY(9px);
    box-shadow: 0px 5px 5px #353536;
}

.footer {
    font-size: 16px;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

.footer a{
    text-decoration: none;
    font-family: sans-serif;
}
