html,
body {
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vh 1vw; 
    margin: 1vh 1vw;
    /*border: 1px solid #aeaeae;*/
}

.group {
    display: flex;
    flex-direction: row;
    border: 1px solid #aeaeae;
    height: 5vh
}

.standard {
    width: 5vw;
    height: 5vh;
    border: 1px solid #aeaeae;
}

.standard:hover {
    background: salmon;
}